
@mixin trs_use_filename_color {
    color: rgba(25, 23, 17, 0.6);
}
@mixin trs_use_filename_color_selected {
    color: rgba(25, 23, 17, 1);
}
@mixin trs_use_filename_fill {
    fill: rgba(25, 23, 17, 0.6);
}
@mixin trs_use_filename_font-size {
    font-size: 15px;
}
@mixin trs_use_selected_bg_color {
    background-color: rgba(55, 53, 47, 0.08);
}
@mixin tsr_use_file_btn_container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin: 4px;
    border-radius: 2px;
}